body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
}

.first-section{
    background-color: #1f2937;
    padding: 16px 15% 48px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header .logo-text{
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header a,
.secondary-text{
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

.secondary-text{
    margin: 0;
}

.content{
    display: flex;
}

.left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 16px;
}

.right{
    width: 50%;
    background-color: #f9faf8;
    display: flex;
}

.hero-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.first-section button{
    background-color: #3882f6;
    border: 0;
    color: #f9faf8;
    padding: 8px 32px;
    font-size: 18px;
    border-radius: 8px;
    
}

.right img{
    width: 100%;
    height: auto;
}

.second-section{
    text-align: center;
    color: #1f2937;
}

.items-container{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 140px;
}

.item{
    width: 200px;
}

.item img{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 8px solid #3882f6;
    border-radius: 16px;
}

.second-section h2{
    font-size: 36px;
    font-weight: 900;
    margin: 48px 0;
}


.third-section{
    padding: 48px 0;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px 25%;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.quote-author{
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-top: 8px;
}